# This needs to sync with ekai/help_pats.py

global-exclude .DS_Store

recursive-exclude ekai/website/examples *
recursive-exclude ekai/website/_posts *

exclude ekai/website/HISTORY.md
exclude ekai/website/docs/benchmarks*.md
exclude ekai/website/docs/ctags.md
exclude ekai/website/docs/unified-diffs.md

exclude ekai/website/install.ps1
exclude ekai/website/install.sh

recursive-exclude ekai/website/docs/leaderboards *
recursive-exclude ekai/website/assets *
recursive-exclude ekai/website *.js
recursive-exclude ekai/website *.html
recursive-exclude ekai/website *.yml
